* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "willywonkaregular";
  src: url("FDC_style_guide/fonts/willywonka/willywonka-webfont.eot");
  src: url("FDC_style_guide/fonts/willywonka/willywonka-webfont.eot?#iefix") format("embedded-opentype"), url("FDC_style_guide/fonts/willywonka/willywonka-webfont.woff2") format("woff2"), url("FDC_style_guide/fonts/willywonka/willywonka-webfont.woff") format("woff"), url("FDC_style_guide/fonts/willywonka/willywonka-webfont.ttf") format("truetype"), url("FDC_style_guide/fonts/willywonka/willywonka-webfont.svg#willywonkaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}
body {    
	background-image: url("../images/whiteRoom.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: right top;
	font-family: "willywonkaregular";
}

h1 {
	text-align: center;
	position: absolute;
	width: 100%;
	font-size: 3vw;
	top: 2%;
}

.logout{
  font-size: 1.6vw;
  position: absolute;
  top: 20px;
  left: 0px;
}

.screen {
	border-radius: 100px;
	margin: 20px 0 0 0;
	width: 100%;
	padding: 5px 5px 5px;
	/*background: #ffffff;*/
	background-image: url("../images/greyMetalic.jpg");
	background-size: 100% 100%;
	box-shadow: 8px 8px 4px rgba(0,0,0,.75);
}

.button1 {
  	background: green;
	border-radius: 55% 55% 55% 55%;
	bottom: 3%;
	cursor: pointer;
	height: 10%;
	opacity: 0.85;
	right: 4%;
	width: 10%;
	box-shadow: inset 0 -2px 5px rgba(0,0,0,.75);
	transition: background .5s;
}
.screenOff1 .button1 {
	background: red;
}

.button2 {
  	background: green;
	border-radius: 55% 55% 55% 55%;
	bottom: 3%;
	cursor: pointer;
	height: 10%;
	opacity: 0.85;
	right: 4%;
	width: 10%;
	box-shadow: inset 0 -2px 5px rgba(0,0,0,.75);
	transition: background .5s;
}
.screenOff2 .button2 {
	background: red;
}

.button3 {
  	background: green;
	border-radius: 55% 55% 55% 55%;
	bottom: 3%;
	cursor: pointer;
	height: 10%;
	opacity: 0.85;
	right: 4%;
	width: 10%;
	box-shadow: inset 0 -2px 5px rgba(0,0,0,.75);
	transition: background .5s;
}
.screenOff3 .button3 {
	background: red;
}

.button4 {
  	background: green;
	border-radius: 55% 55% 55% 55%;
	bottom: 3%;
	cursor: pointer;
	height: 10%;
	opacity: 0.85;
	right: 4%;
	width: 10%;
	box-shadow: inset 0 -2px 5px rgba(0,0,0,.75);
	transition: background .5s;
}
.screenOff4 .button4 {
	background: red;
}

.button5 {
  	background: green;
	border-radius: 55% 55% 55% 55%;
	bottom: 3%;
	cursor: pointer;
	height: 10%;
	opacity: 0.85;
	right: 4%;
	width: 10%;
	box-shadow: inset 0 -2px 5px rgba(0,0,0,.75);
	transition: background .5s;
}
.screenOff5 .button5 {
	background: red;
}

.button6 {
  	background: green;
	border-radius: 55% 55% 55% 55%;
	bottom: 3%;
	cursor: pointer;
	height: 10%;
	opacity: 0.85;
	right: 4%;
	width: 10%;
	box-shadow: inset 0 -2px 5px rgba(0,0,0,.75);
	transition: background .5s;
}
.screenOff6 .button6 {
	background: red;
}

.button7 {
  	background: green;
	border-radius: 55% 55% 55% 55%;
	bottom: 3%;
	cursor: pointer;
	height: 10%;
	opacity: 0.85;
	right: 4%;
	width: 10%;
	box-shadow: inset 0 -2px 5px rgba(0,0,0,.75);
	transition: background .5s;
}
.screenOff7 .button7 {
	background: red;
}

.button8 {
  	background: green;
	border-radius: 55% 55% 55% 55%;
	bottom: 3%;
	cursor: pointer;
	height: 10%;
	opacity: 0.85;
	right: 4%;
	width: 10%;
	box-shadow: inset 0 -2px 5px rgba(0,0,0,.75);
	transition: background .5s;
}
.screenOff8 .button8 {
	background: red;
}

.button9 {
  	background: green;
	border-radius: 55% 55% 55% 55%;
	bottom: 3%;
	cursor: pointer;
	height: 10%;
	opacity: 0.85;
	right: 4%;
	width: 10%;
	box-shadow: inset 0 -2px 5px rgba(0,0,0,.75);
	transition: background .5s;
}
.screenOff9 .button9 {
	background: red;
}

.button10 {
  	background: green;
	border-radius: 55% 55% 55% 55%;
	bottom: 3%;
	cursor: pointer;
	height: 10%;
	opacity: 0.85;
	right: 4%;
	width: 10%;
	box-shadow: inset 0 -2px 5px rgba(0,0,0,.75);
	transition: background .5s;
}
.screenOff10 .button10 {
	background: red;
}

.button:hover {
	opacity: 1;
}
canvas {
	border-radius: 100px;
	width: 100%;
	display: block;
	transition: box-shadow .25s;
  	box-shadow: 0 10px 20px rgba(255,255,255,.25);
}

.boxScreens{
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	width: 60%; 
	padding: 0;
  	margin-left: 20%;
  	list-style: none;
	-webkit-justify-content: space-between; 
	justify-content: space-between;
}

#tele1 {
	width:15%;
	padding: 10px;
  	margin: 5px;
}

#tele2 {
	width:15%;
	padding: 10px;
  	margin: 5px;
}

#tele3 {
	width:15%;
	padding: 10px;
 	margin: 5px;
}

#tele4 {
	width:15%;
	padding: 10px;
	margin: 5px;
}

#tele5 {
	width:15%;
	padding: 10px;
  	margin: 5px;
}

#tele6 {
	width:15%;
	padding: 10px;
  	margin: 5px;
}

#tele7 {
	width:15%;
	padding: 10px;
  	margin: 5px;
}

#tele8 {
	width:15%;
	padding: 10px;
 	margin: 5px;
}

#tele9 {
	width:15%;
	padding: 10px;
	margin: 5px;
}

#tele10 {
	width:15%;
	padding: 10px;
  	margin: 5px;
}

#powerName {
	position: relative;
	margin-top: 5%;
	top: 10%;
	left: 1%;
	width: 20%;
	font-size: 1.7vw;
	text-align: right;
	display: inline-block;
}

#power {
	border-radius: 20px;
	background-color: black;
	position: relative;
	margin-top: 5%;
	top: 10%;
	left: 1%;
	display: inline-block;
	font-size: 1.7vw;
	font-weight: bold;
	color: red;
	text-align: right;
	width: 15%;
	border-style: solid;
	border-width: 1%;
	border-color: grey;
	box-shadow: 5px 5px 2px rgba(0,0,0,.75);
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s; 
    transition: width 2s, height 2s, transform 2s;
}

#power:hover {
    -webkit-transform: rotate(360deg); 
    transform: rotate(360deg);
}

#tvName {
	position: relative;
	margin-top: 5%;
	margin-bottom: 5%;
	left: 16%;
	font-size: 1.7vw;
	text-align: right;
	width: 20%;
	display: inline-block;
}

#tv {
	border-radius: 20px;
	background-color: black;
	position: relative;
	margin-top: 5%;
	margin-bottom: 5%;
	left: 18%;
	font-size: 1.7vw;
	font-weight: bold;
	color: red;
	text-align: right;
	width: 15%;
	border-style: solid;
	border-width: 1%;
	border-color: grey;
	box-shadow: 5px 5px 2px rgba(0,0,0,.75);
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s; 
    transition: width 2s, height 2s, transform 2s;
    display: inline-block;
}

#tv:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#tempName {
	position: relative;
	margin-top: 5%;
	margin-bottom: 5%;
	top: 10%;
	left: 1%;
	width: 20%;
	font-size: 1.7vw;
	text-align: right;
	display: inline-block;

}

#temp {
	border-radius: 20px;
	background-color: black;
	position: relative;
	left: 1%;
	margin-bottom: 5%;
	font-size: 1.7vw;
	font-weight: bold;
	color: red;
	text-align: right;
	width: 15%;
	border-style: solid;
	border-width: 1%;
	border-color: grey;
	box-shadow: 5px 5px 2px rgba(0,0,0,.75);
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s; 
    transition: width 2s, height 2s, transform 2s;
    display: inline-block;

}

#temp:hover {
    -webkit-transform: rotate(360deg); 
    transform: rotate(360deg);
}

#pressName {
	position: relative;
	margin-top: 5%;
	margin-bottom: 5%;
	left: 16%;
	font-size: 1.7vw;
	text-align: right;
	width: 20%;
	display: inline-block;
}

#press {
	border-radius: 20px;
	background-color: black;
	position: relative;
	margin-bottom: 5%;
	left: 18%;
	font-size: 1.7vw;
	font-weight: bold;
	color: red;
	text-align: right;
	width: 15%;
	border-style: solid;
	border-width: 1%;
	border-color: grey;
	box-shadow: 5px 5px 2px rgba(0,0,0,.75);
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s; 
    transition: width 2s, height 2s, transform 2s;
    display: inline-block;
}

#press:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#controlPanel {
	position: relative;
	left: 25%;
	margin-top: 2%;
	width: 50%;
	height: 40%;
	border-style: solid;
	border-width: 10px;
	border-radius: 10px;
	border-color: #2E2E2E;
	background-image: url("../images/metalPanel.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: right top;
}