<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Television Room</title>
  <script src="http://localhost:1028/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="stylesheets/styleTelevisionRoom.css"> 
  </script> 
</head>

<body>
  <h1>Television Room</h1>
  <div class="logout"><a href="/back" onclick="Fiware.signOut('account'); return false">Go Back</a></div> 
  <ul class="boxScreens" style="margin-top: 10%;">
    <li class="screen" id="tele1">
      <canvas id="canvas1"></canvas>
      <div class="button button1" id="btn1"></div>
    </li>
    <li class="screen" id="tele2">
      <canvas id="canvas2"></canvas>
        <div class="button button2" id="btn2"></div>
      </li>
      <li class="screen" id="tele3">
      <canvas id="canvas3"></canvas>
        <div class="button button3" id="btn3"></div>
      </li>
      <li class="screen" id="tele4">
      <canvas id="canvas4"></canvas>
        <div class="button button4" id="btn4"></div>
      </li>
      <li class="screen" id="tele5">
      <canvas id="canvas5"></canvas>
        <div class="button button5" id="btn5"></div>
      </li>
    </ul>
    <ul class="boxScreens" style="margin-top: 5%;">
    <li class="screen" id="tele6">
      <canvas id="canvas6"></canvas>
      <div class="button button6" id="btn6"></div>
    </li>
    <li class="screen" id="tele7">
      <canvas id="canvas7"></canvas>
        <div class="button button7" id="btn7"></div>
      </li>
      <li class="screen" id="tele8">
      <canvas id="canvas8"></canvas>
        <div class="button button8" id="btn8"></div>
      </li>
      <li class="screen" id="tele9">
      <canvas id="canvas9"></canvas>
        <div class="button button9" id="btn9"></div>
      </li>
      <li class="screen" id="tele10">
      <canvas id="canvas10"></canvas>
        <div class="button button10" id="btn10"></div>
      </li>
    </ul>
    <div id="controlPanel">
      <div>
        <div id="powerName">Power (Wh)</div>
        <div id="power"></div>
        <div id="tvName">TVs ON</div>
        <div id="tv"></div>
    </div>
    <div>
      <div id="tempName">Temperature</div>
      <div id="temp"></div>
      <div id="pressName">Pressure</div>
      <div id="press"></div>
    </div>
    </div>
    <script src="javascripts/televisions.js"></script>
    <script src="javascripts/televisionRoom.js"></script>
</body>
</html>
